html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
footer p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit; text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input {
    border: none;
}

button {
    background: none;
    border: none;
}

section {
   height: 100vh; 
}

fieldset {
    width: 50%;
}

legend {
    box-shadow: -25px 34px 3px -28px $purple;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0;
}

.flexBox {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}


.buttonA {
    height: 80px;
    width: 400px;
    background: $yellow;
    border-radius: 25%;
    border-left: 10px solid darken($yellow, 5%);
    border-bottom: 10px solid darken($yellow, 5%); 
    padding-top: 5px;
    text-align: center;
    transition: all .1s ease-in-out;
    box-shadow: -12px 12px 5px 0px rgba(0,0,0,0.75);
}

.buttonA:hover,
.buttonA:focus {
    background-color: lighten($purple, 5%);
    border-color: $purple;
    color: $yellow;
}

.buttonA:active {
    border-left: 2px solid darken($yellow, 5%);
    border-bottom: 2px solid darken($yellow, 5%); 
}
