header {
    background: $blue;
}

header section {
    justify-content: space-evenly;
    align-items: center;
}

.header2 {
    height: 70vh;
    justify-content: space-around;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.egoBox {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}

.egoCheck {
    
    position: relative;
    & i {
        color: $yellow;
        position: absolute;
        top: 0;
        left: -5px;
        font-size: 1.8rem;
    }
}

.ego {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.ego:hover,
.ego:focus {
   box-shadow: -2px -9px 72px 10px rgba(0,0,0,0.75);
   background: rgb(58,124,165);
background: radial-gradient(circle, rgba(58,124,165,1) 0%, rgba(0,0,0,0.41266929134935226) 80%);
}

.egoBox p {
    position: absolute;
    left: -100px;
    bottom: 0;
    opacity: 0;
}