main section {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

main section:nth-of-type(2n) {
    background-color: $blue;
}

#userInfo .container {
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }


.dataBox {
    height: 100%;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    & input {
        height: 50px;
        margin-top: 10px;
    }
    & input:first-of-type {
        width: 280px;
    }
    & input:last-of-type {
        width: 140px;
    }
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    display: none;
}


.questionBox label {
    position: relative;
    cursor: pointer;
}

.questionBox label::before {
    content: "";
    background-image: url(../assets/moustacheEmpty.png);
    position: absolute;
    left: -55px;
    bottom: 0px;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

input:checked + label::before {
    background-image: url(../assets/moustacheFull.png);
}


.questionBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    align-self: flex-start;
    width: 50%;
    position: relative;
}

#questionOne {
    justify-content: space-between;
}

.imageContainer {
    height: auto;
}

.imageBox {
    justify-content: space-between;
    align-items: center;
}

.imageBorder {
    background-color: $purple;
    height: 5px;
    width: auto;
    border-radius: 50%;
}

#questionTwo {
    position: relative;
    & legend {
        max-width: 278px;
    }
}

.image2 {
    align-self: flex-start;
  
}

.image2 img {
    height: 80%;
    width: 80%;
}

.pumpedKicks {
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    & div {
        width: 40%;
        & label {
            z-index: 2;
        }
    }
    & div:nth-of-type(2) {
        text-align: end;
        // padding-right: 65px;
    }
}

.fuming {
    width: 50%;
    justify-self: flex-end;
    position:absolute;
    bottom: 0;
    right: 25%;

}

.q4 {
    position: relative;
    padding-left: 0;
    width: 70%;
    & legend {
        margin: 0 auto;
    }
}

button[type=submit] {
    margin: auto;
    width: auto;
    height: auto;
    padding: 5px 15px;
    cursor: pointer;
}

.profileSection {
    height: auto;
    padding: 0;
}

h4 {
    margin-bottom: 20px;
}

.profilePlace li {
    margin-bottom: 20px;
    width: 90%;
    text-align: left;
    &:last-of-type {
        margin: 0;
    }
}

.padIt {
    padding: 25px 0;
}

#goTime .container {
    align-content: center;
}

.heads {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    & img {
        width: 100px;
        height: 85px;
    }
}