//MEDIA QUERIES for TABLET (940px)

@media (max-width: 940px) {

    section {
        height: 80vh;
    }

    main section {
        padding: 10px 0 20px;
    }

    .buttonA {
        font-size: 4rem;
        height: 60px;
        width: 300px;
    }

    .firstSection {
        height: auto;
    }

    .dataBox {
        text-align: center;
    }

    .questionBox {
        font-size: 4rem;
        width: 60%;
        & label {
            font-size: 3rem;
        }
    }

    .questionBox label::before {
        height: 38px;
        width: 38px;
    }

    .imageContainer {
        width: 30%;
    }

    .imageBox {
        flex-direction: column-reverse;
        align-content: center;
    }

    .questionBox,
    .image2 {
        align-self: center;
    }


    #questionTwo .imageBox {
        flex-direction: column;
    }

    .questionBox label {
        margin-left: 60px;
    }

    .q4 legend {
        margin: 50px auto;
    }

    #questionFour {
        height: 75vh;
    }

    .q4 legend {
    max-width: 235px;
}

    button[type=submit] {
        font-size: 5rem;
    }

    footer .buttonA {
    position: static;
    margin-left: 20px;
    
}
}

@media (max-width: 768px) {
    header {
        padding-top: 25px;
    }

   .imageBox:first-of-type {
       padding-top: 100px;
   }

    main section,
    #questionFour {
        height: 80vh;
        padding-top: 0;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 10rem;
        margin: auto;
    }

    .header2 {
        height: 52vh;
    }

    .largeH {
        display: none;
    }

    .smallH {
        display: block;
    }

    .egoBox {
        display: none;
    }

    .questionBox {
        width: 90%;
        margin-bottom: 25px;
    }


    .imageBox {
        justify-content: space-evenly;
    }


    .imageContainer {
        display: none;
    }

    #goTime {
        padding: 25px 0;
    }
}

@media (max-width: 480px) {

    main section,
    #questionFour {
        height: 90vh;
    }

    h2.smallH {
        display: none;
    }

    h3.smallH {
        position: static;
    }

   .dataBox input {
    font-size: 3rem;
   }



    .footy {
        margin-bottom: 20px;
    }

    //REMOVE HOVER EFFECTS FOR MOBILE
    footer a:hover,
    footer a:focus {
        color: $yellow;
    }

    .buttonA:hover,
    .buttonA:focus {
      background: $yellow;
      border-left: 10px solid darken($yellow, 5%);
        border-bottom: 10px solid darken($yellow, 5%);
        color: black;
    }
}