body {
    font-family: $heebo;
}

header {
    text-align: center;
}

h1 {
    font-family: $miriam;
    font-size: 15rem;
    & span {
        display: block;
        color: $yellow;
        font-weight: 700;
    }
}

h2  {
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    & span {
        color: $yellow;
    }
}

h3 {
    font-size: 2.5rem;
    width: 60%;
    position: absolute;
    font-weight: 300;
    font-style: italic;
    & i {
        color: $yellow;
        position: relative;
        bottom: 5px;
    }
}

h4 {
    font-size: 2.5rem;
}

main {
   font-family: $miriam;
   font-weight: 700;
}

footer {
    color: $green;
    & h5 {
    font-size: 2rem;
    }
    & i {
        font-size: 2.5rem;
    }
}


.questionBox {
font-size: 5rem;
& label {
    font-size: 4rem;
}
}


.buttonA {
    font-size: 6rem;
    font-weight: bold;
    font-family: $miriam;
    text-transform: uppercase;
}

footer .buttonA {
    font-size: 3rem;
}

.dataBox label {
    font-size: 7rem;
    font-style: italic;
}

.dataBox input {
    font-size: 4.5rem;
    text-align: center;
}

.pumpedKicks label {
    font-size: 5rem;
}

button[type=submit] {
    font-family: $miriam;
    font-size: 8rem;
    font-weight: 700;
}

.profilePlace {
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: 700; 
}

footer .buttonA {
    font-size: 3rem;
}