//COLORS
$white: #E5D4CE;
$blue: #3A7CA5;
$purple: #2A0C4E;
$yellow: #F0E100;
$green: #496F5D;

//FONTS
$miriam: 'Amatic SC', cursive;
$heebo: 'Open Sans Condensed', sans-serif;

//Animation
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}